<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- iisnode Configuration -->
    <iisnode 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      interceptor="C:\Program Files\iisnode\interceptor.js"
      flushResponse="false"
      watchedFiles="*.js;node_modules\*"
      loggingEnabled="true"
      logDirectory="logs"
      debuggingEnabled="false"
      devErrorsEnabled="true"
    />
    
    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <rule name="NodeApp" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- HTTP Headers -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- iisnode Handler -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
  </system.webServer>
</configuration>
